IGI/LR4/Task1/__pycache__/__init__.cpython-311.pyc
IGI/LR4/Task1/__pycache__/CSVFuncs.cpython-311.pyc
IGI/LR4/Task1/__pycache__/PickleFuncs.cpython-311.pyc
IGI/LR4/Task1/__pycache__/Product.cpython-311.pyc
IGI/LR4/Task1/__pycache__/Task1.cpython-311.pyc
IGI/LR4/Task2/__pycache__/Task2.cpython-311.pyc
IGI/LR4/Task3/__pycache__/Task3.cpython-311.pyc
IGI/LR4/Task4/__pycache__/Task4.cpython-311.pyc
IGI/LR4/Task5/__pycache__/Task5.cpython-311.pyc
IGI/LR4/__pycache__/Checkers.cpython-311.pyc
IGI/LR4/product
IGI/LR4/products
