{% extends 'main/layout.html' %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
    <h1>Политика конфиденциальности</h1>
    
    <p>Данная Политика конфиденциальности определяет, как агентство недвижимости (далее «Компания») собирает, использует, защищает и раскрывает информацию, полученную от пользователей нашего сайта.</p>
    
    <h2>1. Сбор информации</h2>
    <p>Мы можем собирать информацию о вас, когда вы:</p>
    <ul>
        <li>Заполняете формы на нашем сайте;</li>
        <li>Подписываетесь на нашу рассылку;</li>
        <li>Общаетесь с нами по электронной почте или телефону;</li>
        <li>Посещаете наш сайт.</li>
    </ul>
    
    <h2>2. Использование информации</h2>
    <p>Мы используем собранную информацию для следующих целей:</p>
    <ul>
        <li>Обработки запросов и предоставления услуг;</li>
        <li>Улучшения нашего сайта и обслуживания клиентов;</li>
        <li>Отправки периодических информационных писем и обновлений;</li>
        <li>Уведомления о специальных предложениях и акциях.</li>
    </ul>
    
    <h2>3. Защита информации</h2>
    <p>Мы принимаем разумные меры для защиты вашей информации. Все собранные данные хранятся в защищенных средах и доступны только ограниченному числу сотрудников, имеющих специальные права доступа к таким системам.</p>
    
    <h2>4. Раскрытие информации третьим лицам</h2>
    <p>Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, когда это необходимо для выполнения услуг, которые вы запросили.</p>
    
    <h2>5. Ваши права</h2>
    <p>Вы имеете право запросить доступ к вашей личной информации, а также требовать ее исправления или удаления. Для этого пожалуйста свяжитесь с нами по указанным ниже контактам.</p>
    
    <h2>6. Изменения в Политике конфиденциальности</h2>
    <p>Мы можем время от времени обновлять данную Политику конфиденциальности. Все изменения будут опубликованы на этой странице с указанием даты последнего обновления.</p>
    
    <h2>7. Контакты</h2>
    <p>Если у вас есть вопросы или предложения по поводу данной Политики конфиденциальности, пожалуйста, свяжитесь с нами:</p>
    <p>Email: info@realestateagency.com</p>
    <p>Телефон: +1 (234) 567-890</p>
    
{% endblock %}