{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О компании{% endblock %}

{% block content %}
    <div class="company-container">
        <img src="{{ company.logo.url }}" alt="{{ company.name }} логотип" class="company-logo">

        {% if company.video_url %}
            <iframe src="{{ company.video_url }}" allowfullscreen></iframe>
        {% endif %}

        <h2>История компании</h2>
        <ul class="timeline">
            <li><strong>2010:</strong> Основание компании. Наша команда начала с небольшого офиса и амбициозной идеи — предоставить качественные услуги в сфере недвижимости.</li>
            <li><strong>2012:</strong> Расширение услуг. Мы добавили услуги по аренде и управлению недвижимостью, что позволило нам привлечь новых клиентов и увеличить нашу клиентскую базу.</li>
            <li><strong>2015:</strong> Открытие нового офиса. В связи с ростом бизнеса мы открыли новый офис в центре города, что улучшило доступность наших услуг для клиентов.</li>
            <li><strong>2018:</strong> Запуск онлайн-платформы. Мы представили современный веб-сайт с удобным интерфейсом, который позволяет клиентам легко находить и сравнивать объекты недвижимости.</li>
            <li><strong>2020:</strong> Награды и признание. Наша компания получила несколько наград за выдающиеся достижения в сфере недвижимости, что подтвердило нашу репутацию надежного партнера.</li>
            <li><strong>2022:</strong> Экологические инициативы. Мы начали внедрять экологические практики в нашу деятельность, включая энергоэффективные решения и поддержку устойчивых проектов.</li>
            <li><strong>2023:</strong> Новые горизонты. Мы расширили свое присутствие на международных рынках, начав сотрудничество с зарубежными партнерами и предлагая услуги за границей.</li>
        </ul>

        <h2>Реквизиты</h2>
        <p class="company-details">{{ company.details }}</p>

        <div class="certificate">
            <div class="certificate-header">
                <h1>Сертификат о регистрации</h1>
                <p>Агентство недвижимости</p>
            </div>
            <div class="certificate-body">
                <h2>Настоящим подтверждается, что</h2>
                <h3>Агентство недвижимости "Harmony"</h3>
                <p>успешно прошло все необходимые проверки и зарегистрировано в соответствии с законодательством.</p>
                <p>Дата выдачи: <strong>20 октября 2010</strong></p>
            </div>
            <div class="certificate-footer">
                <p>Подпись:</p>
                <img src="{% static 'certificate/signature-image.png' %}" alt="Подпись">
            </div>
        </div>

    </div>
{% endblock %}